<!DOCTYPE html>
<html>
  <head>
    <title>Home Security System</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <div class = "title-box">
    <h1>Home Security System</h1>
  </div>

  <body><div class = "intro-rect">
      {% if record_status %}
      <h2 id="record_status">Camera Status : {{record_status}}</h2>
      {% endif %}
      {% if armed_status %}
      <h2 id="arm_status">Alarm Status : {{armed_status}}</h2>
      {% endif %}
      <div class = "picture-holder">
        <form method="post" action='/record'>
          {% if record_value %}
          <button id="record_button">{{record_value}}</button>
          {% endif %}
        </form>
        <form>
          {% if armed_value %}
          <button id="arm_button">{{armed_value}}</button>
          {% endif %}
        </form>
      </div>
      <img src="{{ url_for('video_feed') }}" width="640" height="480">
    </div> 
    <div class = "intro-rect">
      <form>
        <select name="videos_select" id ="videos_dropdown" onfocus="this.selectedIndex = -1;">
          {% for video in videos %}
          <option value= "{{video}}" SELECTED>{{video}}</option>"
          {% endfor %}
        </select>
      </form>
      <form method="post" action='/control_video'>
        {% if video_status %}
        <input type="submit" name="video_controller" value={{video_status}}>  
        {% endif %}
      </form>
      <div class = "picture-holder">
        <video id="video_player" width="640" height="480" controls>
        </video>
      </div>
    </div>
    <body><div class = "intro-rect">
      <form>
        <label for="message">Message :</label>
        <input type="text" id="message_input" name="message"><br><br>
        <button id="send_button">Send</button>
      </form>
    </div> 

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript">
        // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log('http://' + document.domain + ':' + location.port)
        
        // this is a callback that triggers when the "my response" event is emitted by the server.
        socket.on('alarm status', function(msg) {
            swal({
              title: msg.data,
              icon: "warning",
              buttons: [
                'Close window',
                'Stop alarm'
              ],
              dangerMode: true,
            }).then(function(isConfirm) {
              if (isConfirm) {
                socket.emit('alarmoff', 1);
                console.log("turn off alarm")
                swal({
                  title: 'Alarm halted',
                  icon: 'success'
                })
              } 
            });
        });

        socket.on('record', function(msg) {
            display_record();
        });

        $('#arm_button').click(function(e){
            e.preventDefault();
            $.getJSON('/arm', function(data) {
              $("#arm_button").html(data.value);
              $("#arm_status").html(data.status);
            });
            return false;
          });

        $('#record_button').click(function(e){
            e.preventDefault();
            update_record()
            return false;
          });

          $("#videos_dropdown").change(function(){
            var dropdown = document.getElementById("videos_dropdown");
            var filename = dropdown.options[dropdown.selectedIndex].text;
            console.log(filename);
            var filepath = './static/videos/'+filename;
            $("#video_player").html('<source src='+filepath+' type="video/ogg"></source>' );
            var video = document.getElementById("video_player");
            video.load();
          });

        $('#send_button').click(function(e){
          e.preventDefault();
          var message = document.getElementById("message_input").value
          $.post( "/receive_message", { message: message } );
          return false;
        });


        function update_record(){
          $.getJSON('/update_display_record', function(data) {
              $("#record_button").html(data.value);
              $("#record_status").html(data.status);
            });
        }

        function display_record(){
          $.getJSON('/display_record', function(data) {
              $("#record_button").html(data.value);
              $("#record_status").html(data.status);
            });
        }

        
  </script>    

</html>
