<!DOCTYPE html>
<html>
  <head>
    <title>Home Security System</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <div class = "title-box">
    <h1>Home Security System</h1>
  </div>


  <body>
    <div class = "intro-rect">
      {% if record_status %}
      <h2>Camera Status : {{record_status}}</h2>
      {% endif %}
      {% if armed_status %}
      <h2>Alarm Status : {{armed_status}}</h2>
      {% endif %}
      <div class = "picture-holder">
       <div class = "picture">
        <img src="{{ url_for('video_feed') }}" width="100%" height="100%">
        </div>
        <div class = "picture-descript">
          <form method="post" action='/record'>
            {% if record_value %}
            <input type="submit" name="record" value={{record_value}}>
            {% endif %}
          </form>
          <form method="post" action='/arm'>
            {% if armed_value %}
            <input type="submit" name="arm" value={{armed_value}}>  
            {% endif %}
          </form>
        </div>
      </div>
     </div>
     <div class = "intro-rect">
      <form class="select_form" method="POST" action="/selectvideo">
        <select name="videos_select"  onchange="this.form.submit();">
          {% for video in videos %}
          <option value= "{{video}}" SELECTED>{{video}}</option>"
          {% endfor %}
        </select>
      </form>
      <form method="post" action='/control_video'>
        {% if video_status %}
        <input type="submit" name="video_controller" value={{video_status}}>  
        {% endif %}
      </form>
      <div class = "picture-holder">
       <div class = "picture">
        <img src="{{ url_for('recorded_video') }}" width="100%" height="100%">
        </div>
      </div>
     </div>

  </body>

  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script>
        // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log('http://' + document.domain + ':' + location.port)
        
        // this is a callback that triggers when the "my response" event is emitted by the server.
        socket.on('my response', function(msg) {
            window.alert(msg.data);
            console.log(data)
        });
  </script>    

</html>
