<html>
  <head>
    <title>Home Security System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>Home Security System</h1>
    <center><img src="{{ url_for('video_feed') }}" width="640" height="480"></center>
    <form method="post" action="/">
      <input type="submit" name="Start Camera" value="stream">
      <input type="submit" name="Send Audio" value="audio">
      <input type="submit" name="Arm" value="ARM">
      <input type="submit" name="Disarm" value="DISARM">
    </form>
    <hr>
  </body>
</html>
